@using Microsoft.AspNetCore.Identity
@model IEnumerable<Part>
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

<ul>
    @foreach (var parts in Model.GroupBy(t => t.SerialNumber))
    {
        @foreach (var part in parts)
        {
            <li>
                Name: @part.Name - Serial Number: @parts.Key
                <ul>
                        <li>@part.Engineer.FirstName @part.Engineer.LastName</li>
                </ul>
            </li>
        }
    }

</ul>
