@using Microsoft.AspNetCore.Identity
@model IEnumerable<Part>
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

<ul>
    @foreach (var parts in Model.GroupBy(t => t.Name))
    {
        @foreach (var item in parts)
        {
            <li>
                Item Name: @item.Name
                <ul>
                    <li>
                        @item.SerialNumber - @item.Engineer.FirstName @item.Engineer.LastName
                        @if (item.EngineerId == UserManager.GetUserId(User))
                        {
                            <a href="/Home/Delete?uid=@item.Uid">Delete</a>
                        }
                    </li>
                </ul>
            </li>
        }
    }

</ul>
