@model GF5BAB_SOF_2023241_Webapp.Models.Part

<h4>Part</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPart">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="addmargindiv" class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div id="addmargindiv" class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div id="addmargindiv" class="form-group">
                <label asp-for="Heigth" class="control-label"></label>
                <input asp-for="Heigth" class="form-control" />
                <span asp-validation-for="Heigth" class="text-danger"></span>
            </div>
            <div id="addmargindiv" class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div id="addmargindiv" class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div id="addmargindiv">
    <a asp-action="ListParts" class="btn btn-danger">Back to List</a>
</div>
