@model GF5BAB_SOF_2023241_Webapp.Models.Meeting

<h4>Meeting</h4>
<hr />
<div class="row">
    @if (TempData["WarningMessage"] != null)
    {
        <div class="alert alert-warning" id="warning-alert">
            @TempData["WarningMessage"]
        </div>
    }
    <div class="col-md-4">
        <form asp-action="AddMeeting">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="addmargindiv" class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div id="addmargindiv" class="form-group">
                <label asp-for="Topics" class="control-label"></label>
                <input asp-for="Topics" class="form-control" />
                <span asp-validation-for="Topics" class="text-danger"></span>
            </div>
            <div id="addmargindiv" class="form-group">
                <label asp-for="StartingTime" class="control-label"></label>
                <input asp-for="StartingTime" class="form-control" />
                <span asp-validation-for="StartingTime" class="text-danger"></span>
            </div>
            <div id="addmargindiv" class="form-group">
                <label asp-for="EndingTime" class="control-label"></label>
                <input asp-for="EndingTime" class="form-control" />
                <span asp-validation-for="EndingTime" class="text-danger"></span>
            </div>
            <div id="addmargindiv" class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div id="addmargindiv">
    <a asp-action="ListMeetings" class="btn btn-danger">Back to List</a>
</div>

<script>
    function hideAlert() {
        $('#warning-alert').alert('close');
        $.ajax({
            url: '/Meeting/ResetWarningMessage',
            method: 'POST',
            success: function () {
            }
        });
    }

    setTimeout(hideAlert, 5000);
</script>
