@model GF5BAB_SOF_2023241_Webapp.Models.Test

<h4>Test</h4>
<hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddTest">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="addmargindiv" class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            <div id="addmargindiv" class="form-group">
                    <label asp-for="PartName" class="control-label"></label>
                    <input asp-for="PartName" class="form-control" />
                    <span asp-validation-for="PartName" class="text-danger"></span>
                </div>
            <div id="addmargindiv" class="form-group">
                    <label asp-for="StartingTime" class="control-label"></label>
                    <input asp-for="StartingTime" class="form-control" />
                    <span asp-validation-for="StartingTime" class="text-danger"></span>
                </div>
            <div id="addmargindiv" class="form-group">
                    <label asp-for="EndingTime" class="control-label"></label>
                    <input asp-for="EndingTime" class="form-control" />
                    <span asp-validation-for="EndingTime" class="text-danger"></span>
                </div>
            <div id="addmargindiv" class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
<div id="addmargindiv">
        <a asp-action="ListTests" class="btn btn-danger">Back to List</a>
</div>
